#aside {
  position: fixed;
  bottom: 0;
  right: 0;
}

#aside a {
  transform: rotate(90deg);
  position: absolute;
  right: -5px;
  bottom: 60px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#aside a::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background-image: url(../img/svg/arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(2px);
}
