#brand {
  background-image: url(../img/brand1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#brand .inner-bg {
  height: calc(100% - 130px);
  width: 1820px;
  background-image: url(../img/brand_bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 30px;
  border-radius: 5px;
}

#brand .wrap {
  height: 100%;
}

#brand .wrap h2 {
  font-size: 18px;
  font-weight: 500;
}

#brand .wrap h3 {
  font-size: 56px;
  font-weight: 200;
  margin: 40px 0 115px;
  opacity: 0;
  transform: translateY(50px);
}

#brand .wrap .brand-info {
  gap: 150px;
}

#brand .wrap .brand-info li {
  text-align: center;
}

#brand .wrap .brand-info li h4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 300;
  opacity: 0;
  transform: translateY(50px);
}

#brand .wrap .brand-info li h4::before {
  content: "";
  width: 60px;
  height: 60px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

#brand .wrap .brand-info li:nth-child(1) h4::before {
  background-image: url(../img/svg/time.svg);
}

#brand .wrap .brand-info li:nth-child(2) h4::before {
  background-image: url(../img/svg/tree.svg);
}

#brand .wrap .brand-info li:nth-child(3) h4::before {
  background-image: url(../img/svg/list.svg);
}

#brand .wrap .brand-info li:nth-child(4) h4::before {
  background-image: url(../img/svg/home.svg);
}

#brand .wrap .brand-info li p {
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  transform: translateY(50px);
}