#gallery {
  background-image: url(../img/gallery_bg.png);
  background-repeat: no-repeat;
  background-position: top right;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery .wrap {
  height: 100%;
  position: relative;
}

#gallery .wrap h2 {
  font-size: 18px;
  font-weight: 500;
  margin-top: 100px;
}

#gallery .wrap h3 {
  font-size: 56px;
  font-weight: 200;
  margin: 45px 0 25px;
  opacity: 0;
  transform: translateY(50px);
}

#gallery .wrap ul {

}

#gallery .slick-list {
  overflow: initial;
}

#gallery .slick-track {

}

#gallery .slick-slide {
  margin: 0 10px;
}

#gallery .slick-slide:first-child {
  margin-left: 0;
}

#gallery .slick-slide a {
  overflow: hidden;
  border-radius: 8px;
}

#gallery .slick-slide a img {
  transform: scale(1.1);
}

#gallery .slick-slide h4 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 20px;
  opacity: 0;
  transform: translateY(50px);
}

#gallery .progress-container {
  position: absolute;
  bottom: 35px;
  left: 0;
  /* width: 99%; */
  height: 1px;
  background: #acacac;
  opacity: 0;
}

#gallery .progress-bar {
  height: 100%;
  /* width: 33%; */
  background: #000;
  transition: width 0.5s ease-in-out;
  opacity: 0;
}

#gallery .wrap .gallery-slide .slick-dots li {
  display: none;
}

