header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

header .wrap {
  height: 80px;
  align-items: center;
}

header .logo {

}

header .logo h1 {
  height: 100%;
  padding-left: 20px;
  padding-right: 10px;
}

header .logo h1 a {
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 60px;
}

header .logo h1 a img{

}

header div .header-menu {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}

header div .header-menu .gnb {
  height: 100%;
}

header div .header-menu .gnb ul {
  height: 100%;
}

header div .header-menu .gnb ul li {
  
}

header div .header-menu .gnb ul li .gnb-list {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 45px;
  font-weight: bold;
}

header div .header-menu .gnb .gnb-list:hover {
  color: #467f5a;
}

header .gnb .flex {
  
}

header .woodin-list, header .products-list, header .support-list {
  position: absolute;
  background-color: #f3f3f3;
  left: 10px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  top: 80px;
}

header .woodin-list {
  width: calc(100% - 315px);
  padding: 20px 0 340px 280px;
}

header .woodin-list .sub-list {
  margin-right: 95px;
}

header .products-list {
  width: calc(100% - 65px);
  padding: 20px 0 340px 65px;
}

header .products-list .sub-list {
  margin-right: 125px;
}

header .support-list {
  width: calc(100% - 630px);
  padding: 20px 0 340px 615px;
}

header .support-list .sub-list {
  
}

header .sub-list li a {
  font-size: 18px;
  position: relative;
  width: fit-content;
  line-height: 2.2;
}

header .sub-list li a::before {
  content: "";
  position: absolute;
  background-color: #555;
  width: 0px;
  height: 1px;
  left: 0;
  bottom: 5px;
}

header .sub-list li:not(:first-child) a:hover::before {
  width: 100%;
  transition: width 0.5s;
}

header .sub-list li:nth-child(1) a {
  font-weight: 600;
}

header .enb {
  display: flex;
  position: relative;
}

header .enb .enb-list {
  height: 100%;
  align-items: center;
  gap: 20px;
}

header .enb-list li {
  font-size: 0;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header .enb-list li:nth-child(1) {
  background-image: url(../img/svg/language.svg);
}

header .enb-list li:nth-child(2) {
  background-image: url(../img/svg/search.svg);
}

header .enb-list li:nth-child(3) {
  background-image: url(../img/svg/menu.svg);
}

header .enb-list li a {
  height: 100%;
  display: flex;
  align-items: center;
}

header .enb-lang {
  position: absolute;
  top: 30px;
  left: -30px;
  display: none;
}

header .enb-lang li {
  
}

header .enb-lang li {
  width: 90px;
  height: 40px;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.5);
  background: rgba(0,0,0,0.8);
  margin-bottom: 2px;
}

header .enb-lang li a {
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  color: #979797;
}

header .search-box {
  position: absolute;
  background-color: #f3f3f3;
  right: -10px;
  top: 50px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
  width: 1863px;
  height: 475px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .search-box .flex-column-center {
  position: relative;
  width: calc(100% - 400px);
  margin: 0 auto;
  height: 100px;
}

header .search-bar {
  position: relative;
  width: 100%;
}

header .search-bar input {
  width: 100%;
  height: 48px;
  border: none;
  background: none;
  border-bottom: 2px solid #000;
  font-size: 22px;
  color: #999;
  outline: none;
  padding-bottom: 10px;
}

header .search-bar button {
  position: absolute;
  bottom: 15px;
  right: 5px;
  width: 30px;
  height: 30px;
  font-size: 0;
  border: none;
  background-color: transparent;
}

header .search-bar button::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background-image: url(../img/svg/search.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

header .keyword {
  display: flex;
  padding-left: 11px;
  margin-top: 18px;
  width: 100%;
}

header .keyword strong {
  display: block;
  width: 100px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: #467f5a;
}

header .keyword ul {
  margin-left: 20px;
}

header .keyword ul li {
  height: 27px;
  font-size: 16px;
  color: #777;
  line-height: 23px;
  padding: 0 13px;
  background: #f0f0f0;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  margin: 0 7px 7px 0;
}

.enb-menu {
  position: absolute;
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: auto 1fr;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0px;
}

.enb-menu .menu-logo {
  position: absolute;
  top: 13.5%;
  left: 130px;
}

.enb-menu .menu1, .enb-menu .menu2, .enb-menu .menu3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.enb-menu .menu1 {
  grid-column: 1;
  grid-row: 2;
  background-color: #000;
  position: relative;
}

.enb-menu .menu1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/menu_bg1.png);
  background-position: right;
  background-repeat: no-repeat;
  transform: translateX(170px);
  animation: menuBgIn 0.3s ease-out 1.5s forwards;
  pointer-events: none;
}

.enb-menu .menu1 li:nth-child(1) {
  position: relative;
}

.enb-menu .menu1 li:nth-child(1) .menu-sub, .enb-menu .menu1 li:nth-child(2) .menu-sub {
  position: absolute;
  top: 20px;
  right: 50px;
  width: auto;
}

.enb-menu .menu1 li:nth-child(2) .menu-sub {
  display: none;
}

.enb-menu .menu1 li:nth-child(1) .menu-sub li, .enb-menu .menu1 li:nth-child(2) .menu-sub li {
  
}

.enb-menu .menu1 li:nth-child(1) .menu-sub li a, .enb-menu .menu1 li:nth-child(2) .menu-sub li a {
  display: inline-block;
  font-size: 17px;
  font-weight: 300;
  line-height: 2.3;
  padding: 0;
}

.enb-menu .menu1 li:nth-child(1) .menu-sub li:nth-child(1) a::before, .enb-menu .menu1 li:nth-child(2) .menu-sub li:nth-child(1) a::before {
  content: "";
  position: absolute;
  top: 21px;
  left: -95px;
  width: 60px;
  height: 1px;
  background: #666;
}

.enb-menu .menu1 li:nth-child(2) {
  position: relative;
}

/* .enb-menu .menu1 li:nth-child(2) .menu-sub {
  display: none;
} */

.enb-menu .menu1 .menu-list {
  position: relative;
  width: 94%;
  max-width: 680px;
  margin: 0 auto;
  flex-direction: column;
}

.enb-menu .menu1 li a {
  color: #fff;
}

.enb-menu .menu1 .menu-list li a {
  font-size: 45px;
  font-weight: 100;
  line-height: 1;
  padding: 25px 0;
}

.enb-menu .menu2 {
  grid-column: 2;
  grid-row: 1 / span 2;
  background-color: #fff;
}

.enb-menu .menu3 {
  grid-column: 3;
  grid-row: 1 / span 2;
  background-color: #fff;
  position: relative;
  overflow: hidden;
}

.enb-menu .menu3::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/menu_bg2.png);
  background-position: right;
  background-repeat: no-repeat;
  transform: translateX(170px);
  animation: menuBgIn 0.3s ease-out 1.6s forwards;
  pointer-events: none;
}

@keyframes menuBgIn {
  to {
    transform: translateX(0);
  }
}

.enb-menu .menu2 .menu-list, .enb-menu .menu3 .menu-list {
  display: flex;
  width: 94%; 
  max-width: 285px;
  margin: 0 auto;
  min-height: 380px;
}

.enb-menu .menu2 .menu-list li h2, .enb-menu .menu3 .menu-list li h2 {
  font-weight: 200;
  padding: 0;
  margin-bottom: 35px;
  font-size: 45px;
}

.enb-menu .menu2 .menu-list li ul, .enb-menu .menu3 .menu-list li ul {
  position: relative;
  padding: 29px 0 0 5px;
}

.enb-menu .menu2 .menu-list li ul li, .enb-menu .menu3 .menu-list li ul li {
  
}

.enb-menu .menu2 .menu-list li ul li:nth-child(1)::before, .enb-menu .menu3 .menu-list li ul li:nth-child(1)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  width: 50px;
  height: 1px;
  background: #222;
}

.enb-menu .menu2 .menu-list li ul li a, .enb-menu .menu3 .menu-list li ul li a {
  font-size: 17px;
  font-weight: 300;
  line-height: 2.3;
}

.enb-menu .menu-sns {
  position: absolute;
  left: 40px;
  bottom: 30px;
}

.enb-menu .menu-sns li {

}

.enb-menu .menu-sns li a {
  
}

.enb-menu .menu-sns li a::before {
  content: "";
  width: 30px;
  height: 30px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.enb-menu .menu-sns li:nth-child(1) a::before {
  background-image: url(../img/svg/);
}

.enb-menu .menu-sns li:nth-child(2) a::before {
  background-image: url(../img/svg/);
}

.enb-menu .menu-sns li:nth-child(3) a::before {
  background-image: url(../img/svg/);
}

.enb-menu .menu-sns li a {
  font-size: 0;
  background-color: #fff;
  border-radius: 50% 50%;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enb-menu .menu-sns li a::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.enb-menu .menu-sns li:nth-child(1) a::before {
  background-image: url(../img/svg/menu_sns1.svg);
}

.enb-menu .menu-sns li:nth-child(2) a::before {
  background-image: url(../img/svg/menu_sns2.svg);
}

.enb-menu .menu-sns li:nth-child(3) a::before {
  background-image: url(../img/menu_sns3.png);
}

.enb-menu .menu-sns li:not(:first-child) a {
  margin-top: 10px;
}

.enb-menu .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.5s;
  cursor: pointer;
}

.enb-menu .close button {
  border: none;
  width: 40%;
  cursor: pointer;
  background-image: url(../img/svg/menu_close.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
}
