#instagram {
  background-image: url(../img/instagram1.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

#instagram .wrap {
  height: 100%;
  position: relative;
}

#instagram .wrap h2 {
  font-size: 18px;
  font-weight: 500;
}

#instagram .wrap h3 {
  font-size: 56px;
  font-weight: 200;
  position: relative;
  margin: 45px 0 25px;
  opacity: 0;
  transform: translateY(50px)
}

#instagram .wrap h3::before {
  content: "";
  display: flex;
  width: 39px;
  height: 39px;
  background-image: url(../img/svg/insta.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -19px;
  right: -50px;
}

#instagram .wrap .insta-slide {
  width: 100%;
  transform: translateY(30px);
}

#instagram .slick-list {
  overflow: initial;
}

#instagram .slick-list .slick-track {
  display: flex;
  gap: 20px;
}

#instagram .slick-list .slick-track .slick-slide {
  
}

#instagram .wrap .insta-slide li {
  border-radius: 8px;
  width: fit-content;
  height: fit-content;
}

#instagram .wrap .insta-slide li a {
  width: 310px;
  height: 310px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 8px;
}

#instagram .wrap .insta-slide li .img1 {
  background-image: url(../img/insta1.jpg);
}

#instagram .wrap .insta-slide li .img2 {
  background-image: url(../img/insta2.jpg);
}

#instagram .wrap .insta-slide li .img3 {
  background-image: url(../img/insta3.jpg);
}

#instagram .wrap .insta-slide li .img4 {
  background-image: url(../img/insta4.jpg);
}

#instagram .wrap .insta-slide li .img5 {
  background-image: url(../img/insta5.jpg);
}

#instagram .wrap .insta-slide li .img6 {
  background-image: url(../img/insta6.jpg);
}

#instagram .wrap .insta-slide li .img7 {
  background-image: url(../img/insta7.jpg);
}

#instagram .wrap .insta-slide li .img8 {
  background-image: url(../img/insta8.jpg);
}

#instagram .wrap .insta-slide li .img9 {
  background-image: url(../img/insta9.jpg);
}

#instagram .wrap .insta-slide li .img10 {
  background-image: url(../img/insta10.jpg);
}

#instagram .wrap .insta-slide li .img11 {
  background-image: url(../img/insta11.jpg);
}

#instagram .wrap .insta-slide li .img12 {
  background-image: url(../img/insta12.jpg);
}

#instagram .wrap .insta-slide li .img13 {
  background-image: url(../img/insta13.jpg);
}

#instagram .wrap .insta-slide li .img14 {
  background-image: url(../img/insta14.jpg);
}

#instagram .wrap .insta-slide li .img15 {
  background-image: url(../img/insta15.jpg);
}

#instagram .wrap .insta-slide li .img16 {
  background-image: url(../img/insta16.jpg);
}

#instagram .wrap .insta-slide li .img17 {
  background-image: url(../img/insta17.jpg);
}

#instagram .wrap .insta-slide li .img18 {
  background-image: url(../img/insta18.jpg);
}

#instagram .wrap .insta-slide li .img19 {
  background-image: url(../img/insta19.jpg);
}

#instagram .wrap .insta-slide li .img20 {
  background-image: url(../img/insta20.jpg);
}

#instagram .wrap .insta-slide li .img21 {
  background-image: url(../img/insta21.jpg);
}

#instagram .wrap .insta-slide li .img22 {
  background-image: url(../img/insta22.jpg);
}

#instagram .wrap .insta-slide li .img23 {
  background-image: url(../img/insta23.jpg);
}

#instagram .wrap .insta-slide li .img24 {
  background-image: url(../img/insta24.jpg);
}

#instagram .wrap .insta-slide li .img25 {
  background-image: url(../img/insta25.jpg);
}

#instagram .wrap .insta-slide li .img26 {
  background-image: url(../img/insta26.jpg);
}

#instagram .wrap .insta-slide li .img27 {
  background-image: url(../img/insta27.jpg);
}

#instagram .wrap .insta-slide li .img28 {
  background-image: url(../img/insta28.jpg);
}

#instagram .wrap .insta-slide li .img29 {
  background-image: url(../img/insta29.jpg);
}

#instagram .wrap .insta-slide li .img30 {
  background-image: url(../img/insta30.jpg);
}

#instagram .wrap .insta-slide li .img31 {
  background-image: url(../img/insta31.jpg);
}

#instagram .wrap .insta-slide li .img32 {
  background-image: url(../img/insta32.jpg);
}

#instagram .wrap .insta-slide li .img33 {
  background-image: url(../img/insta33.jpg);
}

#instagram .wrap .insta-slide li .img34 {
  background-image: url(../img/insta34.jpg);
}

#instagram .wrap .insta-slide li .img35 {
  background-image: url(../img/insta35.jpg);
}

#instagram .wrap .insta-slide li .img36 {
  background-image: url(../img/insta36.jpg);
}

#instagram .wrap .insta-slide li .img37 {
  background-image: url(../img/insta37.jpg);
}
