#product {
  height: 100%;
  align-items: center;
  justify-content: center;
}

#product .wrap {
  display: flex;
  height: 100vh;
  width: 100%;
}

#product .product-info {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

#product .product-info h2 {
  font-size: 18px;
  margin-bottom: 40px;
  font-weight: 500;
}

#product .product-info h3 {
  font-size: 56px;
  font-weight: 200;
  margin-bottom: 20px;
  line-height: 1.3;
  opacity: 0;
}

#product .product-info p {
  font-size: 17px;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  opacity: 0;
  line-height: 1.1;
}

#product .product-info p::before {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background: #313131;
  margin: 0 auto 30px;
}

#product .product-imgs {
  width: 50%;
  margin-top: 80px;
  margin-bottom: 30px;
}

#product .product-slick {
  height: 100%;
}

#product .product-slick .slick-list {
  height: 100%;
  overflow: hidden;
  border-radius: 8px;
}

#product .product-slick .slick-list .slick-track {
  height: 100%;
}

#product .product-slick .slick-list .slick-track .slick-slide {
  height: 100%;
  width: 100%;
  position: relative;
}

#product .product-slick li {
  background-position: center;
  background-size: 105%;
  background-repeat: no-repeat;
}

#product .product-slick .img1 {
  background-image: url(../img/product1.jpg);
  position: relative;
}

#product .product-slick .img2 {
  background-image: url(../img/product2.jpg);
  position: relative;
}

#product .slick-list .arrow {
  position: absolute;
  bottom: 35px;
  right: 40px;
  display: flex;
  z-index: 10;
  width: 78px;
  height: 40px;
}

#product .slick-list .arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  opacity: 0.4;
}

#product .slick-list .arrow .slick-prev, #product .slick-list .arrow .slick-next {
  width: 40px;
  height: 40px;
  display: block;
}

#product .slick-list .arrow .slick-prev {
  left: -15px;
}

#product .slick-list .arrow .slick-next {
  right: -15px;
}

#product .slick-list .arrow .slick-prev::before {

}

#product .slick-list .arrow .slick-next::before {
  transform: rotate(180deg);
}

#product .slick-list .arrow .slick-prev::before, #product .slick-list .arrow .slick-next::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/svg/product_arrow.svg);
}

#product .product-text {
  display: flex;
  align-items: center;
  height: 110px;
  width: calc(100% - 90px);
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 45px;
  color: #fff;
}

#product .product-text div {
  display: flex;
  height: fit-content;
  overflow: hidden;
}

#product .product-text strong {
  position: relative;
  padding-right: 27px;
  font-size: 24px;
  font-weight: 300;
  transform: translateY(50px);
}

#product .product-text strong span {
  position: absolute;
  top: 11px;
  right: 13px;
  width: 1px;
  height: 16px;
  background: #fff;
  opacity: 0.3;
  transform: translateY(50px);
}

#product .product-text p {
  font-size: 24px;
  font-weight: 300;
  transform: translateY(50px);
}