#showroom {
  background-color: #111;
  overflow: hidden;
}

#showroom .wrap {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}

#showroom .showroom-info {
  display: flex;
  width: calc(100% / 3.5);
  flex-direction: column;
  text-align: end;
}

#showroom .showroom-info h2 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
  color: #fff;
}

#showroom .showroom-info h3 {
  font-size: 56px;
  font-weight: 200;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
}

#showroom .showroom-info p {
  font-size: 23px;
  font-weight: 300;
  margin-top: 20px;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
}

#showroom .showroom-info p::before {
  content: "";
  display: flex;
  width: 60px;
  border-top: 1px solid #555;
  margin-left: auto;
  margin-bottom: 50px;
}

#showroom .showroom-info address {
  font-size: 17px;
  font-weight: 300;
  color: #fff;
  opacity: 0;
  transform: translateY(50px);
}

#showroom .showroom-info div {
  display: flex;
  justify-content: end;
}

#showroom .showroom-info div a {
  font-size: 12px;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: end;
  color: #fff;
  width: fit-content;
  position: relative;
  opacity: 0;
  transform: translateY(50px);
}

#showroom .showroom-info div a::before {
  content: "";
  width: 0;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: 2px;
  left: 10px;
}

#showroom .showroom-info div a:hover::before {
  width: 100%;
  transition: 0.7s;
}

#showroom .showroom-info div a::after {
  content: "+";
  font-size: 18px;
  margin-left: 3px;
  width: 0%;
}

#showroom .showroom-slide {
  width: calc(100% - 30%);
  height: calc(100% - 15%);
  position: absolute;
  right: -60px;
  margin-top: 45px;
  clip-path: inset(0 100% 0 0);
}

#showroom .showroom-slide.on {
  animation: ebg 1.2s forwards;
}

@keyframes ebg {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0 0 0);
  }
}

#showroom .showroom-slide li {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

#showroom .showroom-slide .img1 {
  background-image: url(../img/showroom1.jpg);
}

#showroom .showroom-slide .img2 {
  background-image: url(../img/showroom2.jpg);
}

#showroom .showroom-slide .img3 {
  background-image: url(../img/showroom3.jpg);
}

#showroom .slick-list {
  height: 100%;
}

#showroom .slick-list .slick-track {
  height: 100%;
}

#showroom .slick-list .slick-track .slick-slide {
  height: 100%;
}

#showroom .slick-list .arrow2 {
  position: absolute;
  bottom: 35px;
  right: 40px;
  display: flex;
  z-index: 10;
  width: 78px;
  height: 40px;
}

#showroom .slick-list .arrow2::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  opacity: 0.4;
}

#showroom .slick-list .arrow2 .slick-prev, #showroom .slick-list .arrow2 .slick-next {
  width: 40px;
  height: 40px;
  display: block;
}

#showroom .slick-list .arrow2 .slick-prev {
  left: -15px;
}

#showroom .slick-list .arrow2 .slick-next {
  right: -15px;
}

#showroom .slick-list .arrow2 .slick-prev::before {

}

#showroom .slick-list .arrow2 .slick-next::before {
  transform: rotate(180deg);
}

#showroom .slick-list .arrow2 .slick-prev::before, #showroom .slick-list .arrow2 .slick-next::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/svg/product_arrow.svg);
}

#showroom .showroom-btn {
  position: absolute;
  bottom: 35px;
  left: 40px;
  display: flex;
  z-index: 10;
  width: 78px;
  height: 40px;
}

#showroom .showroom-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 20px;
  margin-top: -10px;
  background: #fff;
  opacity: 0.4;
}

#showroom .showroom-btn .slick-prev, #showroom .showroom-btn .slick-next {
  width: 40px;
  height: 40px;
}

#showroom .showroom-btn .slick-prev {
  left: -15px;
}

#showroom .showroom-btn .slick-next {
  right: -15px;
}

#showroom .showroom-btn .slick-prev::before {

}

#showroom .showroom-btn .slick-next::before {
  transform: rotate(180deg);
}

#showroom .showroom-btn .slick-prev::before, #showroom .showroom-btn .slick-next::before {
  content: "";
  width: 40px;
  height: 40px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../img/svg/product_arrow.svg);
}